<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/map.css')}}"/>
    </head>
    <body>
      <label id="p" for="pickup">Pick Up:</label>
      <input id="pickup" class="controls" type="text" placeholder="Search Pickup Location">
      <input id='psubmit' type="submit" value="search"/>
      <label id="d"for="dest">Destination:</label>
      <input id="dest" name="dest" class="controls" type="text" placeholder="Where to?">
      <input id='dsubmit' type="submit" value="search"/>
      <div id="map"></div>
      <script type="text/javascript" src= "{{url_for('static',filename='js/map.js')}}"></script>
    </script>
  <script async defer
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDy8tt5vdmipUlu4mdbvtoaiXgqHSC4UkI&libraries=geometry,places&region=JM&callback=createMap">
  </script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js">
  </script>
  </body>
</html>
